@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #70b7ff;
  --accent-color: #ff9f50;
  --tg-color: #d3fe7e;
  --sec-bg-color: #f6f6f6;
  --sec-accent-color: #ffefa9;
  --th--accent-color: #2a4a7b;
  --font-color: #555555;
  --spacing: 2.2rem;
  --h1-font: "Lilita One", "sans-serif";
}
body {
  font-family: "Poppins", "sans-serif";
  background-color: var(--sec-bg-color);
  color: var(--font-color);
  font-size: 16px;
  margin: var(--spacing);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--h1-font);
  font-weight: 300;
  color: var(--accent-color);
  margin-bottom: var(--spacing);
}
h1 {
  font-size: 3rem;
}
h2 {
  border-bottom: 2px solid var(--accent-color);
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.3;
}
a:hover {
  color: var(--accent-color);
}
ul {
  list-style-type: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
}

.linksMenu {
  display: flex;
  gap: calc(var(--spacing) / 2);
}
.menu {
  display: none;
}
.hamburguesa {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
}
section {
  padding: var(--spacing);
}
section h3 {
  color: var(--bg-color);
  text-align: center;
  font-size: 1.7rem;
}
section figure {
  text-align: center;
}
section figure img {
  width: 100%;
  height: auto;
  border-radius: 1.25rem;
  box-shadow: 10px 10px 5px 0px #bba8a8bf;
  margin: 1.25rem 0 1.25rem 0;
}

.tarjeta {
  margin: calc(var(--spacing) / 2);
  text-align: justify;
  line-height: 1.6;
}
.experimentos ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing);
  text-align: center;
  font-size: 1.5rem;
}
.experimentos p {
  margin-bottom: 1.8rem;
}
.experimentos ul li {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing);
  border-radius: 1.25rem;
  margin-top: 2.5rem;
  background-color: var(--th--accent-color);
}
.experimentos img {
  max-width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1.25rem;
}
.experimentos ul li:hover {
  box-shadow: 1px 0px 48px 13px #a7dd3cd9;
  cursor: pointer;
  transform: translate(-6px, -13px);
}
.descripcion {
  margin-bottom: 0.7rem;
  line-height: 1.6;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1.25rem;
  margin: 1.25rem 0;
}
.about p {
  margin-top: 0.7rem;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.2rem solid var(--th--accent-color);
  padding-top: 2rem;
}
.copy {
  margin-left: 1rem;
}

.rrss {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.rrss img {
  width: 30px;
  height: auto;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  body {
    margin: 1rem;
  }
  section {
    padding: 1rem;
  }
  h1 {
    font-size: 2.5rem;
    margin-left: 1rem;
  }
  header {
    position: relative;
    padding: var(--spacing) 0;
  }
  #menu:checked ~ .linksMenu {
    display: flex;
    z-index: 100;
  }
  .linksMenu {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 100;
    background-color: var(--tg-color);
    padding: var(--spacing);
    display: none;
    flex-direction: column;
    border-radius: 1.25rem;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
  }
  .linksMenu li a {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding: 0.5rem 0;
    position: static;
    top: auto;
    width: auto;
  }
  .hamburguesa {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  footer {
    display: grid;
  }
  .rrss {
    justify-content: right;
  }

}
@media (min-width: 769px) {
  section figure img {
    width: 50%;
  }
  .about img {
  width: 50%;
}